apiVersion: apps/v2
kind: Deployment
metadata:
  name: App-v2
spec:
  replicas: {{ number_replicas_new_version }}
  selector:
    matchLabels:
      app: App
  template:
    metadata:
      labels:
        app: App
        version: {{ version }}
      annotations:
        prometheus.io/scrape: "{{ prometheus_scrape }}"
        prometheus.io/port: "{{ prometheus_port }}"
    spec:
      containers:
      - name: App
        image: linuxtips/nginx-prometheus-exporter:{{ version }}
        env:
        - name: VERSION
          value: {{ version }}
        ports:
        - containerPort: {{ nginx_port }}
        - containerPort: {{ prometheus_port }}